{{#.}}
  <div class="item Action Biography">
    <img src="img/posters/11.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Taken 3</div>
    <img src="img/art/11.jpg">
    <div class="item-description">
      <span class="genre">Action | Drama</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item Action Thriller">
    <img src="img/posters/12.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">12 Monkeys</div>
    <img src="img/art/12.jpg">
    <div class="item-description">
      <span class="genre">Action | Thriller</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item Action Comedy">
    <img src="img/posters/13.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">John Wick</div>
    <img src="img/art/13.jpg">
    <div class="item-description">
      <span class="genre">Action | Comedy</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item Drama Thriller">
    <img src="img/posters/14.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Guardians of the Galaxy</div>
    <img src="img/art/14.jpg">
    <div class="item-description">
      <span class="genre">Drama | Thriller</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item Action Adventure Sci-Fi">
    <img src="img/posters/15.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Big Hero</div>
    <img src="img/art/15.jpg">
    <div class="item-description">
      <span class="genre">Action | Adventure</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item Adventure Sci-Fi">
    <img src="img/posters/16.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">St. Vincent</div>
    <img src="img/art/16.jpg">
    <div class="item-description">
      <span class="genre">Adventure | Sci-Fi</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item Action Crime">
    <img src="img/posters/17.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Birdman</div>
    <img src="img/art/17.jpg">
    <div class="item-description">
      <span class="genre">Action | Crime</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item Crime Drama">
    <img src="img/posters/18.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Fury</div>
    <img src="img/art/18.jpg">
    <div class="item-description">
      <span class="genre">Crime | Drama</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item Drama History">
    <img src="img/posters/19.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Gone Girl</div>
    <img src="img/art/19.jpg">
    <div class="item-description">
      <span class="genre">Drama | History</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item Crime Drama">
    <img src="img/posters/20.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">The Imitation Game </div>
    <img src="img/art/20.jpg">
    <div class="item-description">
      <span class="genre">Crime | Drama</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item Drama Romance">
    <img src="img/posters/11.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Casablanca</div>
    <img src="img/art/11.jpg">
    <div class="item-description">
      <span class="genre">Drama | Romance</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item Drama Romance">
    <img src="img/posters/12.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Titanic</div>
    <img src="img/art/12.jpg">
    <div class="item-description">
      <span class="genre">Drama | Romance</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item Drama">
    <img src="img/posters/13.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Boyhood</div>
    <img src="img/art/13.jpg">
    <div class="item-description">
      <span class="genre">Drama</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item Action Adventure">
    <img src="img/posters/14.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">The LEGO Movie</div>
    <img src="img/art/14.jpg">
    <div class="item-description">
      <span class="genre">Action | Adventure</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item Adventure Comedy">
    <img src="img/posters/15.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Into the Woods</div>
    <img src="img/art/15.jpg">
    <div class="item-description">
      <span class="genre">Adventure | Comedy</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item Action Romance">
    <img src="img/posters/16.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Predestination</div>
    <img src="img/art/16.jpg">
    <div class="item-description">
      <span class="genre">Action | Romance</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item Action Adventure">
    <img src="img/posters/17.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Gravity</div>
    <img src="img/art/17.jpg">
    <div class="item-description">
      <span class="genre">Action | Adventure</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item Adventure Sci-Fi">
    <img src="img/posters/18.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Frozen</div>
    <img src="img/art/18.jpg">
    <div class="item-description">
      <span class="genre">Adventure | Sci-Fi</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item Action Crime">
    <img src="img/posters/19.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Snowpiercer</div>
    <img src="img/art/19.jpg">
    <div class="item-description">
      <span class="genre">Action | Crime</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item Action Sci-Fi">
    <img src="img/posters/20.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Under the Skin</div>
    <img src="img/art/20.jpg">
    <div class="item-description">
      <span class="genre">Action | Sci-Fi</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
{{/.}}