{{#.}}
  <div class="item H2">
    <img src="img/posters/1.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Chuck</div>
    <img src="img/art/1.jpg">
    <div class="item-description">
      <span class="genre">H2</span>
    <span class="description">This high-concept action comedy follows Chuck Bartowski as the Buy More computer geek turned secret agent. When Chuck unwittingly downloads a database of government information and deadly fighting skills into his head, he becomes the CIA's most vital secret. This sets Chuck on a path to become a full-fledged spy, assisted by the stoic Colonel John Casey; Chuck's best friend, Morgan Grimes; and the CIA's top agent (now Chuck's wife) Sarah Walker. With the help of this unlikely team and his unorthodox techniques, Chuck is ready to take Operation Bartowski freelance. Chuck's spy abilities will be put to a new test when he and his team must save mankind without the help of the CIA. Instead, they'll use the cover of the Buy More electronics store to fund their own operations, leading to new missions, new stakes and new obstacles.</span>
  </div>
  </div>
  <div class="item CBS">
    <img src="img/posters/2.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Dead like Me</div>
    <img src="img/art/2.jpg">
    <div class="item-description">
      <span class="genre">CBS</span>
      <span class="description">18-year-old "George" (Georgia) Lass dies when a toilet from the MIR space station falls from the sky and hits her. However, soon she discovers the afterlife really does exist when she becomes a reaper - she helps in catching the souls of people moments before they're destined to die.</span>
    </div>
  </div>
  <div class="item Spike-TV">
    <img src="img/posters/3.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Deadliest Catch</div>
    <img src="img/art/3.jpg">
    <div class="item-description">
      <span class="genre">Spike TV</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item Global-TV">
    <img src="img/posters/4.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Dexter</div>
    <img src="img/art/4.jpg">
    <div class="item-description">
      <span class="genre">Global TV</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item TMN">
    <img src="img/posters/5.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">House</div>
    <img src="img/art/5.jpg">
    <div class="item-description">
      <span class="genre">TMN</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item H2">
    <img src="img/posters/6.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Stargate Atlantis</div>
    <img src="img/art/6.jpg">
    <div class="item-description">
      <span class="genre">H2</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item City">
    <img src="img/posters/7.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Adventure Time</div>
    <img src="img/art/7.jpg">
    <div class="item-description">
      <span class="genre">City</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item City">
    <img src="img/posters/8.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">American Idol</div>
    <img src="img/art/8.jpg">
    <div class="item-description">
      <span class="genre">City</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item TLC">
    <img src="img/posters/9.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Archer</div>
    <img src="img/art/9.jpg">
    <div class="item-description">
      <span class="genre">TLC</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item CBC">
    <img src="img/posters/10.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">The Dr. Phil Show</div>
    <img src="img/art/10.jpg">
    <div class="item-description">
      <span class="genre">CBC</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>


  <div class="item TLC">
    <img src="img/posters/1.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">House of Cards</div>
    <img src="img/art/1.jpg">
    <div class="item-description">
      <span class="genre">TLC</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item Global-TV">
    <img src="img/posters/2.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Fargo</div>
    <img src="img/art/2.jpg">
    <div class="item-description">
      <span class="genre">Global TV</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item CBC">
    <img src="img/posters/3.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Cowboy Bebop</div>
    <img src="img/art/3.jpg">
    <div class="item-description">
      <span class="genre">CBC</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item Spike-TV">
    <img src="img/posters/4.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Death Note</div>
    <img src="img/art/4.jpg">
    <div class="item-description">
      <span class="genre">Spike TV</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item CBC">
    <img src="img/posters/5.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Friends</div>
    <img src="img/art/5.jpg">
    <div class="item-description">
      <span class="genre">CBC</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item City">
    <img src="img/posters/6.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Freaks and Geeks</div>
    <img src="img/art/6.jpg">
    <div class="item-description">
      <span class="genre">City</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item Global-TV">
    <img src="img/posters/7.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Top Gear</div>
    <img src="img/art/7.jpg">
    <div class="item-description">
      <span class="genre">Global TV</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item TMN">
    <img src="img/posters/8.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Seinfeld</div>
    <img src="img/art/8.jpg">
    <div class="item-description">
      <span class="genre">TMN</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item Spike-TV">
    <img src="img/posters/9.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Twin Peaks</div>
    <img src="img/art/9.jpg">
    <div class="item-description">
      <span class="genre">Spike TV</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
  <div class="item TLC">
    <img src="img/posters/10.jpg" style="position: absolute; top:30px; left:10px; width: 22%; border: 1px solid #fff;">
    <div class="item-title">Dexter</div>
    <img src="img/art/10.jpg">
    <div class="item-description">
      <span class="genre">TLC</span>
      <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat, elit at posuere suscipit, elit dui ultrices velit, mollis suscipit sapien dolor ac purus.</span>
    </div>
  </div>
{{/.}}