{{#.}}
  <div class="top-half">

  </div>
  <div class="bottom-half">
    <div class="poster">
      <img src="img/details-poster.jpg">
    </div>
    <div class="play">
      <i class="pe-7s-play"></i>
    </div>
    <p>This high-concept action comedy follows Chuck Bartowski as the Buy More computer geek turned secret agent. When Chuck unwittingly downloads a database of government information and deadly fighting skills into his head, he becomes the CIA's most vital secret. This sets Chuck on a path to become a full-fledged spy, assisted by the stoic Colonel John Casey; Chuck's best friend, Morgan Grimes; and the CIA's top agent (now Chuck's wife) Sarah Walker. With the help of this unlikely team and his unorthodox techniques, Chuck is ready to take Operation Bartowski freelance. Chuck's spy abilities will be put to a new test when he and his team must save mankind without the help of the CIA. Instead, they'll use the cover of the Buy More electronics store to fund their own operations, leading to new missions, new stakes and new obstacles.</p>
  </div>
{{/.}}