* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    text-rendering: optimizeLegibility;
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background: url('../img/login-bg.png') center center no-repeat; background-size: cover
}
.statusbar-overlay {
    background-color: #131313;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
}
.statusbar-overlay .fa-circle-o {
    padding-left: 4px;
    height: 12px;
    font-size: 8px;
}
.statusbar-overlay .fa-circle {
    padding-left: 2px;
    height: 12px;
    font-size: 8px;
}
.statusbar-overlay .fa-plug {
    padding-right: 4px;
}
.statusbar-overlay .fa-gamepad {
    padding-right: 2px;
}
.statusbar-overlay .fa-fire {
    padding-right: 2px;
}
input[type="search"] {
    background-color: #000 !important;
    color: #fff !important;
}
.page-content::-webkit-scrollbar {
    display: none;
}
.layout-dark .panel, .panel.layout-dark, .panel {
    background-color: transparent;
}
.panel-left .item-media {
    font-size: 30px;
}
.panel-left .list-block {
    margin: 0;
    width: 100%;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}
.panel-left .list-block ul {
    background-color: transparent;
}
.panel-left .list-block a {
    color: #fff;
    text-shadow: 1px 1px #000;
}
.login-box {
    position: fixed;
    bottom: 20px;
    color: #fff;
    width: 100%;
    text-align: center;
}
.login-box a {
    display: block;
    color: #fff;
}


.isotopeList {
    width: 100%;
    display: block;
    -webkit-transition: opacity 200ms;
    transition: opacity 200ms;
}
.isotopeList * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.isotopeList .item {
    position: relative;
    width: 100%;
    border: 1px solid #fff;
    margin-bottom: -1px;
}
.isotopeList .item .item-title {
    text-shadow: 1px 1px #000;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 5px 0;
    font-weight: normal;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    font-size: 20px;

    background-image:linear-gradient(top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    background-image:-webkit-linear-gradient(top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    background-image:-ms-linear-gradient(top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgba(0,0,0,0.9)),
        color-stop(1, rgba(0,0,0,0))
    );
}
.isotopeList .item .item-description {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 5px 0;
    font-weight: normal;
    display: block;

    background-image:linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
    background-image:-webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
    background-image:-ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgba(0,0,0,0)),
        color-stop(1, rgba(0,0,0,0.9))
    );
}
.isotopeList .item .item-description span.genre {
    font-size: 10px;
    padding: 14px 8px;
    float:right;
    text-shadow: 1px 1px #000;
}
.isotopeList .item .item-description span.description {
    padding: 5px;
    font-size: 14px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-shadow: 1px 1px #000;
}
.isotopeList .item img {
    width: 100%;
    display: block;
}
.isotopeList.list-block {
    margin: 0;
}
.navbar-through .page > .searchbar ~ .page-content {
    padding-top: 44px;
}
.popover {
    width: 150px;
}
.login-screen-content {
    background: url('../img/login-bg.png') center center no-repeat;
    background-size: cover;
}
.white-box {
    position: absolute;
    left: 50%;
    width: 250px;
    background-color: #222426;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-transition-delay: 300ms;
    transition-delay: 300ms;
    z-index: 20;
    -webkit-transform: translate3d(-50%,120%,0);
    transform: translate3d(-50%,120%,0);
}
.modal-in .white-box {
    -webkit-transform: translate3d(-50%,15%,0);
    transform: translate3d(-50%,15%,0);
}
.login-screen-content .list-block {
    margin: 10px auto;
}
.modal-in .red-box {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
#shows * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#shows .top-half {
    position: absolute;
    top: 0;
    width: 100%;
    height: 70%;
    background: url('../img/details-bg.jpg') center center no-repeat;
    background-size: cover;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
#shows .poster {
    position: relative;
    top: 0;
    float:left;
    margin-top: -50px;
    margin-left: 5%;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-transform: translate3d(0,0,20px);
    transform: translate3d(0,0,20px);
}
#shows .poster img {
    width: 100px;
    display: block;
}
#shows .play {
    position: absolute;
    top: 0;
    left: 5%;
    opacity: 0;
    margin: 10px;
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    border-radius: 50%;
    z-index: 20;
    -webkit-transition: all 1s;
    transition: all 1s;

    font-size: 80px;
    text-align: center;
}
#shows .play i {
    padding-left: 10px;
}
#shows .bottom-half {
    position: relative;
    top: 0;
    width: 100%;
    color: #fff;
    text-shadow: 1px 1px #000;
    padding: 10px;
    overflow: visible;

    background-image:linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 100%);
    background-image:-webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 100%);
    background-image:-ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 100%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgba(0,0,0,0)),
        color-stop(0.1, rgba(0,0,0,1)),
        color-stop(1, rgba(0,0,0,1))
    );
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-transform: translate3d(0,60%,15px);
    transform: translate3d(0,60%,15px);
}
.searchbar-found.list-block .item-text {
    height:85px;
    -webkit-line-clamp: 4;
}
.page[data-page="live"] .content-block {
    margin: 15px 0;
}
.page[data-page="live"] .row .col-50 {
    border: 1px solid #888;
    height: 102px;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 15px;
}
.page[data-page="live"] img {
    -webkit-transform: scale(0.05);
    transform: scale(0.05);
}